<!DOCTYPE html>
<html>
<head>
	<title>Geek Coffee OnLine</title>
    <link rel="shortcut icon" href="__ROOT__/Public/img/icon.ico">

	<!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__ROOT__/Public/Bootstrap/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__ROOT__/Public/Bootstrap/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__ROOT__/Public/Bootstrap/js/bootstrap.min.js"></script>
    <script>
    </script>
</head>
<div class="container">
        <div class="row" style="background-color: #c40000;">
            <div class="col-md-offset-5 col-md-2"><h3 style="margin-top: 10%;"><a href="__APP__/Home/Index/index" style="color:white; text-decoration: none;">杰 客 云 咖啡</a></h3></div>
            <div class="col-md-offset-9">
                <ul class="nav nav-pills" style="margin-top: 1%;">
                  <li role="presentation"><button class="btn btn-lg" style="background-color: #c40000; font-size: 20px;"><a style="text-decoration: none; color:white;" href="__APP__/Home/Person/index?id={$id}">{$name}</a></button></li>
                  <li role="presentation"><button class="btn btn-lg" style="background-color: #c40000; font-size: 20px;"><a style="text-decoration: none; color:white;" href="__APP__/Home/Login/logout">Logout</a></button></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-5 col-md-2;">
                <h2>{$name}的订单记录</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <table class="table">
                <thead><tr><th>Goods'name</th><th>Price</th><th>Num</th><th>Candy</th><th>Cold</th><th>BooikngName</th><th>Class</th><th>Phone</th><th>Time</th><th>Status</th></tr></thead>
                <tbody>
                <volist name="li" id="li">
                    <tr>
                        <td>{$li.goodsname}</td>
                        <td>{$li.price}</td>
                        <td>{$li.num}</td>
                        <td><if condition="$li['candy'] eq 0">0%<elseif condition="$li['candy'] eq 1"/>25%<elseif condition="$li['candy'] eq 2"/>50%<elseif condition="$li['candy'] eq 3"/>75%<else />100%</if></td>
                        <td><if condition="$li['cold'] eq 0">冰<elseif condition="$li['cold'] eq 1"/>常温<else />热</if></td>
                        <td>{$li.name}</td>
                        <td>{$li.add}</td>
                        <td>{$li.phone}</td>
                        <td>{$li.time}</td>
                        <td><if condition="$li['status'] eq 0">未接单<elseif condition="$li['status'] eq 1"/>已接单<else />已拒绝</if></td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        <div class="row" style="position:absolute;left: 42%;top: 92%;">
            <div class="footer_f">
                <div class="footer text-center" style="padding:10px 0; color:#999;">中软ETC & Mars 版权所有@ 2017
                </div>
            </div>
        </div>
    </div>
</body>
</html>
